*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    padding: 10px;
}
.onloaded .movie-list{
    background:#ebeef5;
    padding:70px 50px 50px;
    overflow:hidden;
}
.onloaded .movie-list-inner{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    max-width:1200px;
    width:100%;
    margin:-50px auto 0;
}